{% extends 'base.html.twig' %}

{% block title %}Supprimer mon compte{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    {% endblock %}

{% block body %}
    <section class="delete">
        <div class="title">
            <h1>Supprimer mon compte</h1>
        </div>
        <button class="btnDeleteConfirme" >
            Confirmer
        </button>
    </section>
{% endblock %}


