<h1>Modification de votre mot de passe</h1>
<p>Bonjour {{ user.username }},</p>
<p>Changez votre mot de passe cliquant sur le lien ci-dessous :</p>
<p>
  <a href="{{ absolute_url(path('app_resetPass', { token: token })) }}">Lien</a>
</p>
<p>Ce lien expirera dans 3 heures</p>