<h1>Changement adresse email</h1>
<p>Bonjour {{ user.username }},</p>
<p>
  Je vous informer que l’adresse email associée à votre compte sur le site <a href="{{ absolute_url(path('app_home')) }}">fredericpoulain.fr</a> a été modifiée récemment.<br>
  Si vous êtes à l’origine de cette modification, vous pouvez ignorer ce message.<br>
</p>
<p>
  Cependant, si vous n’avez pas demandé à changer votre adresse email, je vous recommande de me contacter immédiatement en répondant à cet email, ou en cliquant sur ce <a href="{{ absolute_url(path('app_contact')) }}">Lien</a>. <br>
  Il est important de signaler toute activité suspecte sur votre compte afin de garantir la sécurité de vos informations personnelles.
</p>
<p>
  Cordialement, Frédéric Poulain.
</p>
