{% extends 'base.html.twig' %}
{% block title %}Météo IA | Activités à faire !{% endblock %}
    {% block stylesheets %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
              integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="{{ asset('assets/css/activities.css') }}">
    {% endblock %}
{% block javascripts %}
    <script type="module" src="{{ asset('assets/js/activities.js') }}" defer></script>
{% endblock %}
{% block body %}


    <section class="activitiesContent">
        <a href="{{ path('app_home') }}"><button class="back"><i class="fa-solid fa-arrow-left-long"></i></button></a>
        <div class="title"><h1></h1></div>
        <p class="p1"></p>
        <p class="p2"></p>
        <div class="list">

        </div>
    </section>


    <div class="backgroundIndex">
        <span>//[1] => 'Activités'</span>
    </div>
{% endblock %}



