{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}
    {% block stylesheets %}
    {% endblock %}
{% block body %}
    <section class="error" style="text-align: center">
        <h1 class="errorAccess">Accès interdit</h1>
    </section>

{% endblock %}
